## Custom Error Pages
#ErrorDocument 404 /errors/e404.html
 
<IfModule mod_dir.c>
	DirectorySlash Off
</IfModule>
 
Options -Indexes
Options +FollowSymLinks
 
<IfModule mod_rewrite.c>
	RewriteEngine on

	## Custom Error Pages
	#RewriteCond %{REQUEST_URI} ^/my-error-page\.html$ [OR]
	#RewriteCond %{REQUEST_URI} ^/errors/e404\.html$
	#RewriteRule ^ - [L]
	
	# HTTP(S) resolving
	# http://www.askapache.com/htaccess/http-https-rewriterule-redirect.html
	RewriteCond %{SERVER_PORT}s ^(443(s)|[0-9]+s)$
	RewriteRule ^(.*)$ - [env=htsubprot:%2]

	# presmerovani subdomeny s www na verzi bez www
	RewriteCond %{HTTP_HOST} www\.(.*)\.([^.]+)\.([^.]*)$
	RewriteRule (.*)$ http%{ENV:htsubprot}://%1.%2.%3/$1 [R=301,L,NE]

	# presmerovani domeny 2. radu na verzi s www
	RewriteCond %{HTTP_HOST} ^([^.]+)\.([^.]*)$
	RewriteRule (.*)$ http%{ENV:htsubprot}://www.%{HTTP_HOST}/$1 [R=301,L,NE]

	# ochrana proti zacyklení
	RewriteCond %{ENV:REDIRECT_STATUS} 200
	RewriteRule ^ - [L]

	#kontrola existence subdomeny
	RewriteCond %{HTTP_HOST} ^(.*)\.([^.]*)\.([^.]*)$
	RewriteCond %{DOCUMENT_ROOT}/%1_root !-d
	RewriteRule ^ - [R=404,NC,L]

	# presmerovani na verzi s lomitkem
	RewriteCond %{HTTP_HOST} ^(.*)\.([^.]*)\.([^.]*)$
	RewriteCond %{DOCUMENT_ROOT}/%1_root/%{REQUEST_URI}/ -d
	RewriteRule ^(.*)[^/]$ %{REQUEST_URI}/ [R=301,L,NE]

	# podstrceni obsahu
	RewriteCond %{HTTP_HOST} ^(.*)\.([^.]*)\.([^.]*)$
	RewriteRule ^(.*)$ %1_root/$1 [L]
</IfModule>
